In [18]:
import pandas as pd

In [4]:
category_names = pd.read_csv("Data/input/category_names.csv")
checkins = pd.read_csv("Data/input/gowalla_checkins_with_category.csv")

In [5]:
checkins

,userid,placeid,datetime,id,created_at,lng,lat,photos_count,checkins_count,users_count,radius_meters,highlights_count,items_count,max_items_count,spot_categories,categoryid
0,1338,482954,2011-06-23T02:24:22Z,482954,2010-01-31T03:43:41Z,-93.177506,44.934198,4,50,33,50,0,5,10,"[{'url': '/categories/241', 'name': 'Bar'}]",3
1,116691,482954,2011-06-05T17:42:29Z,482954,2010-01-31T03:43:41Z,-93.177506,44.934198,4,50,33,50,0,5,10,"[{'url': '/categories/241', 'name': 'Bar'}]",3
2,59161,482954,2011-01-14T01:39:11Z,482954,2010-01-31T03:43:41Z,-93.177506,44.934198,4,50,33,50,0,5,10,"[{'url': '/categories/241', 'name': 'Bar'}]",3
3,59161,482954,2010-07-23T01:32:22Z,482954,2010-01-31T03:43:41Z,-93.177506,44.934198,4,50,33,50,0,5,10,"[{'url': '/categories/241', 'name': 'Bar'}]",3
4,149777,482954,2010-03-18T01:40:40Z,482954,2010-01-31T03:43:41Z,-93.177506,44.934198,4,50,33,50,0,5,10,"[{'url': '/categories/241', 'name': 'Bar'}]",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875919,80336,364856,2011-06-16T06:20:57Z,364856,2010-01-11T19:10:08Z,-2.006815,52.398330,0,11,3,75,0,1,10,"[{'url': '/categories/44', 'name': 'Motel'}]",6
875920,80336,6464232,2011-06-06T14:18:47Z,6464232,2010-11-20T16:32:21Z,-0.161326,50.823806,0,3,3,75,0,1,10,"[{'url': '/categories/49', 'name': 'Luxury Hot...",6
875921,80336,4593370,2011-06-05T12:16:11Z,4593370,2010-09-28T17:42:08Z,-0.347396,53.745687,3,16,10,75,0,0,10,"[{'url': '/categories/237', 'name': 'Soul Food'}]",2
875922,80336,6504146,2011-06-05T11:07:24Z,6504146,2010-11-27T18:35:58Z,-0.315397,53.751760,0,17,3,75,0,0,10,"[{'url': '/categories/118', 'name': 'Health & ...",5
875923,80336,7445594,2011-05-31T12:03:43Z,7445594,2011-05-30T16:10:49Z,-0.086678,51.509726,0,5,5,75,0,0,10,"[{'url': '/categories/1', 'name': 'Coffee Shop'}]",2

In [9]:
def classify(id):
    return category_names.iloc[id]['name']

In [10]:
checkins['category'] = checkins['categoryid'].apply(lambda x:classify(x))

In [12]:
checkins['category'].unique()

array(['Nightlife', 'Shopping', 'Entertainment', 'Community', 'Food',
       'Travel', 'Outdoors'], dtype=object)

In [13]:
checkins.columns

Index(['userid', 'placeid', 'datetime', 'id', 'created_at', 'lng', 'lat',
       'photos_count', 'checkins_count', 'users_count', 'radius_meters',
       'highlights_count', 'items_count', 'max_items_count', 'spot_categories',
       'categoryid', 'category'],
      dtype='object')

In [14]:
checkins.rename(columns={"datetime":"local_datetime","lat":"latitude","lng":"longitude"},inplace=True)

In [15]:
checkins = checkins[["local_datetime",
                    "userid",
                    "placeid",
                    "category",
                    "latitude",
                    "longitude",
                    "id"
                    ]]

In [16]:
checkins

,local_datetime,userid,placeid,category,latitude,longitude,id
0,2011-06-23T02:24:22Z,1338,482954,Nightlife,44.934198,-93.177506,482954
1,2011-06-05T17:42:29Z,116691,482954,Nightlife,44.934198,-93.177506,482954
2,2011-01-14T01:39:11Z,59161,482954,Nightlife,44.934198,-93.177506,482954
3,2010-07-23T01:32:22Z,59161,482954,Nightlife,44.934198,-93.177506,482954
4,2010-03-18T01:40:40Z,149777,482954,Nightlife,44.934198,-93.177506,482954
...,...,...,...,...,...,...,...
875919,2011-06-16T06:20:57Z,80336,364856,Travel,52.398330,-2.006815,364856
875920,2011-06-06T14:18:47Z,80336,6464232,Travel,50.823806,-0.161326,6464232
875921,2011-06-05T12:16:11Z,80336,4593370,Food,53.745687,-0.347396,4593370
875922,2011-06-05T11:07:24Z,80336,6504146,Shopping,53.751760,-0.315397,6504146
875923,2011-05-31T12:03:43Z,80336,7445594,Food,51.509726,-0.086678,7445594

In [23]:
df_geo = pd.read_csv("Data/input/gowalla_geo_checkins.csv")

In [25]:
len(df_geo)

875924

In [26]:
len(checkins)

875924

In [32]:
checkins['country_name'] = "United States"

/tmp/ipykernel_79398/2929783335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checkins['country_name'] = "United States"

In [33]:
checkins['country_name']

0         United States
1         United States
2         United States
3         United States
4         United States
              ...
875919    United States
875920    United States
875921    United States
875922    United States
875923    United States
Name: country_name, Length: 875924, dtype: object

In [34]:
checkins['state_name'] = df_geo['NAME']

/tmp/ipykernel_79398/1318192382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checkins['state_name'] = df_geo['NAME']

In [35]:
checkins['state_name']

0         Minnesota
1         Minnesota
2         Minnesota
3         Minnesota
4         Minnesota
            ...
875919          NaN
875920          NaN
875921          NaN
875922          NaN
875923          NaN
Name: state_name, Length: 875924, dtype: object

In [36]:
checkins.to_csv("Data/input/users_steps.csv")